html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

* {
    transition: 0.2s;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #333;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: #0ae;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0ae;
}

.scroll-style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #333;
    border-radius: 15px;
}

.scroll-style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #333;
}

.scroll-style-6::-webkit-scrollbar-thumb
{
	background-color: #555;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.grid-stack * {
    transition: none;
}

.progress {
    height: 5px;
}

.hidden {
    display: none;
}

.bg-dark a.nav-link:not([href]):hover {
    color:#fff;
}

.btn-default {
    background-color: #2b3c4b;
    border-color: #2b3c4b;
    color: #fff;
}

.btn-default:hover {
    color: #fff;
}

.form-check-input.no-abs {
    position: relative;
    margin-left: 0!important;
}

.border-size-1 {
    border-width: 1px;
}

.border-dotted {
    border-style: dotted;
}

.border-bottom-dotted {
    border-bottom-style: dotted;
}

.border-bottom-dark {
    border-bottom-color: #2b3c4b;
}

.border-color-red{border-color:#d9534f}
.border-color-purple{border-color:#3f51b5}
.border-color-blue{border-color:#5a82ce}
.border-color-navy{border-color:#0858ab}
.border-color-green{border-color:#449d44}
.border-color-forestgreen{border-color:#27b392}
.border-color-orange{border-color:#c49a68}
.border-color-grey{border-color:#777}
.border-color-dark{border-color:#4d4d4d}

.card.red{border: 1px solid rgba(217, 83, 79, 0.2)}
.card.purple{border: 1px solid rgba(63, 81, 181, 0.2)}
.card.blue{border: 1px solid rgba(90, 130, 206, 0.2)}
.card.navy{border: 1px solid rgba(8, 88, 171, 0.2)}
.card.green{border: 1px solid rgba(68, 157, 68, 0.2)}
.card.forestgreen{border: 1px solid rgba(39, 179, 146, 0.2)}
.card.orange{border: 1px solid rgba(196, 154, 104, 0.2)}
.card.grey{border: 1px solid rgba(119, 119, 119, 0.2)}
.card.dark{border: 1px solid rgba(77, 77, 77, 0.2)}

.table th, .table td {
    border: 0;
}

.border-top-dotted {
    border-top-style: dotted;
}

.border-top-dark {
    border-top-color: #4d4d4d;
}

.dot {
    width:10px;
    height:10px;
    display:inline-block;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0 0 5px #1e2b37;
}

.dot-red {background:#d9534f}
.dot-purple {background:#3f51b5}
.dot-blue {background:#375182}
.dot-navy {background:#0858ab}
.dot-green {background:#449d44}
.dot-forestgreen {background:#408693}
.dot-orange {background:#c49a68}
.dot-grey {background:#777}

.slidemenu .nav-link:hover {
    color: #9abadd!important;
}

.slidemenu .nav-link.page-link-active {
    color: #007bff!important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }
.bg-darker { background-color: #121417; }

/* a {
    color: #277dfb;
    text-decoration: none;
} */

.nav-link, .cursor-pointer {
    cursor: pointer;
}

.text-monospace {
    font-family: monospace;
}
.float{

}

.hidden-empty:empty {
    display: none;
}


.my-float{
}
#floating-back-button, .sticky-button {
    position: fixed;
	width: 35px;
	height: 35px;
	top: 10px;
	left: 10px;
	background-color: #fff;
	color: #333;
	border-radius: 50px;
	text-align: center;
    z-index: 1030;
    cursor: pointer;
}
#floating-back-button i, .sticky-button i {
    margin-top: 9px;
}
.sticky-button {
    top: initial;
	left: initial;
	right: 10px;
	bottom: 10px;
    background-color: #449d44;
}

.sticky-bar {
    top: initial;
    left: initial;
	right: 0;
	bottom: 0;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    border-radius: 15px 0 0 15px;
}

.video_video{
    margin: auto;
    max-width: 100%;
    max-height: 600px;
}

.ui-pnotify-title {
    font-size: 1rem;
    line-height: 1;
}

.monitor-card-preview {
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
}

/*  */
.side-menu-link {
    position: relative;
}
.side-menu-link .delete-tab {
    position: absolute;
    top: 5px;
    right: 5px;
}
.side-menu-link .delete-tab:hover {
    text-shadow: 0 0 15px #333;
    color: #eee;
}

/*  */

ul.squeeze {
    flex-direction: row!important;
    align-items: center;
    justify-content: center;
}
.squeeze .monitor-icon {
    display: inline-block;
    margin: 0 0.1rem;
}

.squeeze .monitor-icon .btn{
    padding: 0!important;
    overflow: hidden;
    margin-bottom: 0.2rem!important;
    border:0;
    position: relative;
}

.monitor-icon img{
    border-radius: 5px;
    height: 48px;
    width: 48px;
}

/*  */

.text-epic {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 3px;
    font-family: monospace;
}

/* Flex Table (Dark Table) */
.flex-table.flex-table-dark {

}
.flex-table > .d-flex > *{
    padding: .5rem 1rem;
}
.flex-table.flex-table-dark > .d-flex:nth-child(even){
    background: rgba(0,0,0,0.4);
}

/* image pop */
.popped-image img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
}
.popped-image {
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
