<% window.additionalJsScripts = []; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%-pageTitle%></title>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="description" content="Shinobi">
    <meta name="author" content="Moe Alam, moeiscool on Gitlab and GitHub">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="libs/img/icon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="libs/img/icon/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Shinobi">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="libs/img/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="libs/img/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="libs/img/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="libs/img/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="libs/img/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="libs/img/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="libs/img/icon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="libs/img/icon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="libs/img/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Shinobi"/>
    <meta name="msapplication-TileColor" content="#333333" />
    <meta name="msapplication-TileImage" content="libs/img/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="libs/img/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="libs/img/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="libs/img/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="libs/img/icon/mstile-310x310.png" />
    <link rel="stylesheet" href="<%-window.libURL%>libs/css/pnotify.custom.min.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/vendor/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bootstrap5-theme.css">
    <link rel="stylesheet" href="<%-window.libURL%>libs/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%-window.libURL%>libs/css/daterangepicker.css">
    <link rel="stylesheet" href="<%-window.libURL%>libs/css/gridstack.min.css">
    <link rel="stylesheet" href="<%-window.libURL%>libs/css/gridstack-extra.min.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.liveGrid.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.regionEditor.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.onvifScanner.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.timelapseViewer.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.ptzControls.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.sideMenu.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.forms.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.darktheme.css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link href="<%-window.libURL%>assets/css/dashboard.css" rel="stylesheet">
    <link href="<%-window.libURL%>assets/css/modal.dark.css" rel="stylesheet">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.videoPlayer.css">
    <link rel="stylesheet" href="<%-window.libURL%>assets/css/bs5.livePlayer.css">
    <%
        const details = $user.details
        if(!details.sub){ %>
            <script>
                window.getAdminApiPrefix = function(piece){
                    return location.search === '?p2p=1' ? location.pathname + '/' : "<%=originalURL%><%=config.webPaths.adminApiPrefix%><%- $user.auth_token %>/"
                }
            </script>
        <% }
    %>
    <% customAutoLoad.LibsCss.forEach(function(lib){ %>
        <link rel="stylesheet" href="<%-window.libURL%>libs/css/<%-lib%>">
    <% }) %>
    <style id="theme">
        <% details.theme = details.theme || 'Ice-v3' %>
    <%- include(__dirname + `/web/libs/themes/${details.theme}/style.css`); %>
    </style>
    <style id="custom_css">
    <%= details.css %>
    </style>
    <script src="<%-window.libURL%>libs/js/jquery.min.js"></script>
</head>
<script>$user = <%- JSON.stringify($user) %></script>
<script>lang = <%- JSON.stringify(lang) %></script>
<script>definitions = <%- JSON.stringify(define) %></script>
<script>addStorage = <%- JSON.stringify(addStorage) %>;</script>
<script>libURL = location.search === '?p2p=1' ? location.pathname + '/' : '<%-window.libURL%>';</script>
<script>HWAccelChoices = [
<% if(config.availableHWAccels) {
        var methods = {
            auto: {label:lang['Auto'],value:'auto'},
            drm: {label:lang['drm'],value:'drm'},
            cuvid: {label:lang['cuvid'],value:'cuvid'},
            cuda: {label:lang['cuda'],value:'cuda'},
            vaapi: {label:lang['vaapi'],value:'vaapi'},
            qsv: {label:lang['qsv'],value:'qsv'},
            vdpau: {label:lang['vdpau'],value:'vdpau'},
            dxva2: {label:lang['dxva2'],value:'dxva2'},
            vdpau: {label:lang['vdpau'],value:'vdpau'},
            videotoolbox: {label:lang['videotoolbox'],value:'videotoolbox'}
        }
        config.availableHWAccels.forEach(function(availibleMethod){
            if(methods[availibleMethod]){ %>
                <%- JSON.stringify(methods[availibleMethod]) %>,
            <% }
        })
    }
 %>
]</script>
<script>
monitorStatusCodes = definitions["Monitor Status Codes"]
</script>
