<%
buildOptions = function(field,possiblities){
    if(!field)console.error('field',field)
    var fieldElement = ''
    possiblities.forEach(function(option){
        if(option.optgroup){
            fieldElement += '<optgroup label="' + option.name + '">'
            fieldElement += buildOptions(field,option.optgroup)
            fieldElement += '</optgroup>'
        }else{
            var selected = ''
            if(option.value === field.default){
              selected = 'selected'
            }
            fieldElement += '<option value="' + option.value + '" ' + selected + '>' + option.name + '</option>'
        }
    })
    return fieldElement
}
drawBlock = function(monitorSettings){
  if(monitorSettings.evaluation && !eval(monitorSettings.evaluation)){
      return
  }
  var attributes = []
  var styles = []
  var sectionClass = []
  var headerTitle = monitorSettings.headerTitle || lang[monitorSettings.name] || monitorSettings.name
  if(monitorSettings.hidden === true){
      styles.push('display:none')
  }
  if(monitorSettings.style){
      styles.push(monitorSettings.style)
  }
  if(monitorSettings.isSection === true){
      attributes.push('section')
  }
  if(monitorSettings.attribute){
      attributes.push(monitorSettings.attribute)
  }
  if(!monitorSettings.id){
      var userSettingsId = monitorSettings.name.replace(/[^a-zA-Z ]/g, '').replace(/[^a-zA-Z ]/g, '').replace(/ /g, '')
      monitorSettings.id = userSettingsId
  }
  attributes.push(`id="${monitorSettings.id}"`)
  if(monitorSettings.color){
      sectionClass.push(monitorSettings.color)
  }
  if(monitorSettings['section-class']){
      sectionClass.push(monitorSettings['section-class'])
  }
  if(monitorSettings.isAdvanced){ %>
 <div class="h_us_input h_us_advanced" style="display:none">
 <% }
  if(monitorSettings['section-pre-pre-class']){ %>
 <div class="<%- monitorSettings['section-pre-pre-class'] %>">
 <% }
  if(monitorSettings['section-pre-class']){ %>
 <div class="<%- monitorSettings['section-pre-class'] %>">
 <% }
  %>
  <<%- monitorSettings.isForm ? 'form' : 'div' %> <%- attributes.join(' ') %> style="<%- styles.join(';') %>" class="card form-group-group p-3 bg-dark mb-3 shadow <%- sectionClass.join(' ') %>">
      <h4 class="form-section-header cursor-pointer mb-3 pb-3 text-white border-bottom-dotted border-color-<%- monitorSettings.color || 'dark' %> <%- monitorSettings.headerClass %>"><%- headerTitle %>
          <% if(monitorSettings.headerButtons){ %>
              <div class="pull-right">
                  <% monitorSettings.headerButtons.forEach(function(button){ %>
                      <a class="btn btn-success btn-xs <%- button.class %>">
                          <% if(button.icon){ %><i class="fa fa-<%- button.icon %>"></i><% } %>
                           <% if(button.text){ %><%- button.text %><% } %>
                      </a>
                  <% }) %>
              </div>
          <% } %>
      </h4>
      <div class="box-wrapper">
  <% if(monitorSettings['input-mapping']){ %>
      <div class="form-group-group forestgreen" style="display:none" input-mapping="<%- monitorSettings['input-mapping'] %>">
          <h4><%-lang['Input Feed']%>
              <div class="pull-right">
                  <a class="btn btn-success btn-xs add_map_row"><i class="fa fa-plus-square-o"></i></a>
              </div>
          </h4>
          <div class="choices"></div>
      </div>
  <% } %>
  <% if(monitorSettings.blockquote){ %>
      <blockquote class="<%- monitorSettings.blockquoteClass || '' %>">
          <%- monitorSettings.blockquote %>
      </blockquote>
  <% } %>
  <% if(monitorSettings.blocks){
          monitorSettings.blocks.forEach(function(settingsBlock){
              drawBlock(settingsBlock)
          })
      }
     if(monitorSettings.info){
     monitorSettings.info.forEach(function(field){
         if(field.isFormGroupGroup === true){
             drawBlock(field)
         }else{
     if(field.notForSubAccount === true){
          var notForSubAccount = '!details.sub'
          if(!field.evaluation){
              field.evaluation = notForSubAccount
          }else{
              field.evaluation += ' && ' + notForSubAccount
          }
      }
      if(field.evaluation && !eval(field.evaluation)){
          return
      }
      var hidden = ''
      if(field.hidden === true){
          hidden = 'style="display:none"'
      }
      var fieldClass = []
      var attributes = []
      if(field.name && field.name.indexOf('=') > -1){
          attributes.push(field.name)
      }else if(field.name){
          attributes.push("name=" + field.name)
      }
      if(field.placeholder || field.default){
          attributes.push(`placeholder="${field.placeholder || field.default}"`)
      }else if(field.example){
          attributes.push(`placeholder="Example : ${field.example}"`)
      }
      if(field.default){
          attributes.push(`data-default="${field.default}"`)
      }
      if(field.attribute){
          attributes.push(field.attribute)
      }
      if(field.selector){
          attributes.push(`selector="${field.selector}"`)
      }
      if(field.id){
          attributes.push(`id="${field.id}"`)
      }
      if(field.class){
          fieldClass.push(`${field.class}`)
      }
      var possiblities = field.possible || []
      var fieldType = field.fieldType || 'text'
      var fieldElement = ''
      var preFill = field.preFill || ''
      switch(fieldType){
          case'btn-group':
                let fieldBtnContent = ``
                field.btns.forEach((btn) => {
                    let btnClass = []
                    let btnAttributes = []
                    const btnBaseElement = btn.forForm || field.forForm ? 'button' : 'a'
                    if(btn.class){
                        btnClass.push(`${btn.class}`)
                    }
                    if(btn.attribute){
                        btnAttributes.push(btn.attribute)
                    }
                    fieldBtnContent += `<${btnBaseElement} class="btn ${btnClass.join(' ')}" ${btnAttributes.join(' ')}>${btn.btnContent}</${btnBaseElement}>`
                })
                fieldElement = `<div class="btn-group btn-group-justified ${fieldClass.join(' ')}" ${attributes.join(' ')}>${fieldBtnContent}</div>`
          break;
          case'btn':
                baseElement = field.forForm ? 'button' : 'a'
                fieldElement = `<${baseElement} class="btn btn-block ${fieldClass.join(' ')}" ${attributes.join(' ')}>${field.btnContent}</${baseElement}>`
          break;
          case'ul':
                fieldElement = `<ul ${attributes.join(' ')} class="${fieldClass.join(' ')}" ></ul>`
          break;
          case'div':
                fieldElement = `<div ${attributes.join(' ')} class="${fieldClass.join(' ')}" >${field.divContent || ''}</div>`
          break;
          case'form':
                fieldElement = `<form ${attributes.join(' ')} class="${fieldClass.join(' ')}" ></form>`
          break;
          case'table':
                fieldElement = `<table ${attributes.join(' ')} class="${fieldClass.join(' ')}"><tbody></tbody></table>`
          break;
          case'number':
                if(field.numberMin){
                    attributes.push(`min="${field.numberMin}"`)
                }
                if(field.numberMax){
                    attributes.push(`max="${field.numberMax}"`)
                }
                fieldElement = `<input type="number" class="form-control ${fieldClass.join(' ')}" ` + attributes.join(' ') + '>'
          break;
          case'password':
                fieldElement = `<input type="password" class="form-control ${fieldClass.join(' ')}" ` + attributes.join(' ') + '>'
          break;
          case'text':
                fieldElement = `<input class="form-control ${fieldClass.join(' ')}" ${attributes.join(' ')} value="${preFill}">`
          break;
          case'range':
                fieldElement = `<input type="range" class="form-range ${fieldClass.join(' ')}" ${attributes.join(' ')} min="${field.min}" max="${field.max}">`
          break;
          case'textarea':
                fieldElement = `<textarea class="form-control ${fieldClass.join(' ')}" ` + attributes.join(' ') + '></textarea>'
          break;
          case'select':
                fieldElement = `<select class="form-control ${fieldClass.join(' ')}" ${attributes.join(' ')}>`
                fieldElement += buildOptions(field,possiblities)
                fieldElement += '</select>'
          break;
      }
       if(field['form-group-class-pre-pre-layer']){ %>
      <div class="<%- field['form-group-class-pre-pre-layer'] %>">
      <% }
       if(field['form-group-class-pre-layer']){ %>
      <div class="<%- field['form-group-class-pre-layer'] %>">
      <% }
      if(fieldType === 'ul' || fieldType ===  'div' || fieldType ===  'btn' || fieldType ===  'btn-group' || fieldType ===  'table' || fieldType ===  'form'){ %>
          <%- fieldElement %>
      <% }else{ %>
          <div <%- hidden %> class="form-group <%- field['form-group-class'] %>">
              <div>
                  <label><%- field.field %></label>
              </div>
              <div class="mb-2">
                  <span>
                      <% if(field.description){ %>
                          <small><%- field.description %></small>
                      <% } %>
                  </span>
              </div>
              <div><%- fieldElement %></div>
          </div>
      <% }
        }
        if(field['form-group-class-pre-layer']){ %>
       </div>
       <% }
        if(field['form-group-class-pre-pre-layer']){ %>
       </div>
       <% }
    })
}
%>
</div>
</<%- monitorSettings.isForm ? 'form' : 'div' %>>
<%
if(monitorSettings['section-pre-class']){ %>
</div>
<% }
if(monitorSettings['section-pre-pre-class']){ %>
</div>
<% }
if(monitorSettings.isAdvanced){ %>
</div>
<% }
}
%>
