<main class="container page-tab pt-3" id="tab-monitorSettings">
    <div class="card form-group-group p-3 bg-dark mb-3 shadow">
        <h4 id="tab-monitorSettings-title" class="monitor-section-header mb-3 pb-3 text-white border-bottom-dotted border-color-blue ">
            <%- lang['Monitor Settings'] %> :
            <span><%- lang['Add New'] %></span>
        </h4>
        <div>
            <a class="btn btn-sm btn-success reset-monitor-settings-form text-white"><i class="fa fa-refresh"></i> <%- lang['Reset Form'] %></a>
        </div>
    </div>
    <form>
        <div class="dark">
            <%
              var drawBlock
              var buildOptions
            %>
            <%
              include fieldBuilders.ejs
            %>
            <% Object.keys(define['Monitor Settings'].blocks).forEach(function(blockKey){
                  var accountSettings = define['Monitor Settings'].blocks[blockKey]
                  drawBlock(accountSettings)
              }) %>
              <div style="margin-bottom: 50px;"></div>
          </div>
          <div class="sticky-bar p-3 d-flex flex-row">
              <div style="flex:2" class="dark">
                  <select class="form-control form-control-sm btn-default" dropdown_toggle="monedit_user_type" selector="h_us">
                      <option value="simple" selected><%- lang.Simple %></option>
                      <option value="advanced"><%- lang.Advanced %></option>
                  </select>
              </div>
              <div class="pl-2">
                  <div class="dropdown">
                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="monitorsListOptions" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark bg-dark shadow-lg text-white" aria-labelledby="monitorsListOptions">
                      <li><a class="dropdown-item export-from-monitor-settings-window cursor-pointer"><%- lang.Export %></a></li>
                      <li><a class="dropdown-item delete-monitor-in-settings-window cursor-pointer"><%- lang.Delete %></a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item import-into-monitor-settings-window cursor-pointer"><%- lang.Import %></a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item reset-monitor-settings-form cursor-pointer"><%- lang['Reset Form'] %></a></li>
                    </ul>
                  </div>
              </div>
              <div class="pl-2">
                  <button type="submit" class="btn btn-sm btn-success" style="min-width: 150px"><i class="fa fa-check"></i> <%- lang.Save%></button>
              </div>
          </div>
    </form>
</main>
